* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
  }
  
  
  
  body {
    background:  space;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100vw;
  }
  
  nav {
    align-items: center;
    background-color: #0b0a0a;
    color: #04AA6D;
    display: flex;
    height: 80px;
    padding: 10px;
    border-bottom-left-radius:20% 20%;
    border-bottom-right-radius:20% 20%;
    justify-content: center;
  }
  
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  table, th, td {
    /* border: 1px solid black; */
    text-align: center;
    border-collapse: collapse;
    margin: 5rem;
  }

  th {
    color: #7ffadc;
  }

  
  h1 {
    font-size: 2em;
  }
  
  button {
      font-size: 0.8em;
  }
  
  .centered {
    display: flex;
    justify-content: center;
  }

